# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

# The following `prisma+postgres` URL is similar to the URL produced by running a local Prisma Postgres 
# server with the `prisma dev` CLI command, when not choosing any non-default ports or settings. The API key, unlike the 
# one found in a remote Prisma Postgres URL, does not contain any sensitive information.

DATABASE_URL="file:./db/dev.db"

MQTT_BROKER_URL=mqtts://85ad5e2bc01647b994c1740438b3c4f8.s1.eu.hivemq.cloud
MQTT_BROKER_PORT=8883
MQTT_BROKER_USERNAME=hivemq.webclient.1753169368616
MQTT_BROKER_PASSWORD=EB<0!.*im5AyDCFarb12
MQTT_BROKER_TOPIC=app/detection
MQTT_COORDINATE_TOPIC=location/coordinates

MQTT_PROCESS_DETECTION_TOPIC=app/control/detection
MQTT_PROCESS_FACIAL_RECOGNITION_TOPIC=app/control/face_recognition

SUPABASE_PASSWORD=EQgErmaXxOaPPL9z
PROJECT_URL=https://stqlfyzkkppztbwliwme.supabase.co
SUPABASE_API_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InN0cWxmeXpra3BwenRid2xpd21lIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc1MzQyNzEzNSwiZXhwIjoyMDY5MDAzMTM1fQ.9yq6FYXm1Tzl4eN2u5J3ufUS0BWFEvdFQ227sEAl7a8
